body {
    margin: 0;
    padding: 16px;
    height:100vh;
    background: #ffc0cb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valentines_card {
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 24s;
}

.front_img {
    width: 450px;
    margin-right: -50px;
    margin-left: -50px; 
    margin-top: 100px;
    position: relative; 
}

.inside_img {
    width: 350px;
    margin-right: -50px;
    margin-left: -50px;
    margin-top: 50px;
    position: relative; 
}


.front_card_open {
    transform: rotateY(-160deg);
    transition-duration: 5s;
}

.front_card_close {
    transform: rotateY(160deg);
    transition-duration: 8s;
}

.front_text, .inside_text{
    color: #A60657;
    font-family: 'Brush Script MT', cursive;
    font-size: 24px;
}

.front_card {
    position: relative;
    overflow: hidden;
    transform-origin: left;
    margin: 40px auto;
    padding: 16px;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 0 24px 40px -8px #ff1493;
    width: 450px;
    height: 800px;
}
.inside_card {
    position: absolute;
    overflow: hidden;
    transform-origin: left;
    margin: 40px auto;
    padding: 16px;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 0 24px 40px -8px #ff1493;
    width: 450px;
    height: 800px;
    z-index:-1;
    left:0;
    top:0;
    border-left: 1px solid #A60657;

}
.valentines_card audio {
    display: none;
}

.inside_card audio {
    display: flex;
    margin-left: 50px;
    margin-right: 40px;
}


.display_none {
    display: none;
}

.front_heart_icon {
    background-image: url(../image/heart-lock.svg);
    width: 60px;
    height: 60px;
    background-size: contain;
    position: absolute;
    margin-top: 16px;
    margin-left: 68px;
}